$node-title-background-color: #131625;
$node-title-color: #d2d6ec;
$node-background-color: #383f66;

.node{
    min-width: 120px;
    min-height: 100px;
    position: absolute;
    display: block;
    .title{
        color: $node-title-color;
        background-color: $node-title-background-color;
        width:100%;
        .buttons{
            float: right;
        }
    }
    .dynamic-component{
        width:100%;
        background-color: $node-background-color;
    }
}